html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "EB Garamond", serif;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

#logo {
    font-size: 4rem;
    color: black;
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 70%;
    flex: 1;
}

@media screen and (max-width: 1000px)  {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 600px)  {
    main {
        width: 95%;
    }
}

h1, h2, h3 {
    font-family: "Cormorant SC";
}

h1 {
    font-weight: 500;
    margin: 0 auto;
}

a {
    text-decoration-thickness: 0.07rem;
    text-underline-offset: 0.15rem;
}

main a {
    color: #666666;
}

a:hover {
    color: #888888;
    border-color: #888888;
}

a:visted {
    color: #888888;
}

.published-works-link {
    color: #444444
}

footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #444444;
}

strong {
    font-weight: 900;
}