body {
    font-family: "Minion Pro", "Georgia", serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 1rem;
}

#logo {
    font-size: 3rem;
}

main {
    padding: 0 10rem;
    margin-top: 4rem;
}

a {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #555555;
}

a:hover {
    color: #888888
}

a:visted {
    color: #888888;
}

.published-works-link {
    color: #444444
}

footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #444444;
}