/* FONTS */

@font-face {
    font-family: "EB Garamond";
    src:
        url("fonts/eb-garamond/webfontkit/EBGaramond-Regular.woff2") format("woff2"),
        url("fonts/eb-garamond/webfontkit/EBGaramond-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond Bold";
    src:
        url("fonts/eb-garamond/webfontkit/EBGaramond-Bold.woff2") format("woff2"),
        url("fonts/eb-garamond/webfontkit/EBGaramond-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond Italic";
    src:
        url("fonts/eb-garamond/webfontkit/EBGaramond-Italic.woff2") format("woff2"),
        url("fonts/eb-garamond/webfontkit/EBGaramond-Italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Goudy Initialen";
    src:
        url("fonts/goudy-initialen/webfontkit/GoudyInitialen.woff2") format("woff2"),
        url("fonts/goudy-initialen/webfontkit/GoudyInitialen.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant SC";
    src:
        url("fonts/cormorant/webfontkit/cormorantsc-regular-webfont.woff2") format("woff2"),
        url("fonts/cormorant/webfontkit/cormorantsc-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

em {
    font-family: "EB Garamond Italic", serif;
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: "EB Garamond Bold", serif;
    font-weight: normal;
    font-style: normal;
}

/* DROP CAPS */

/* div p:first-of-type::first-letter {
    font-family: "Goudy Initialen", serif;
    font-size: 7rem;
    float: left;
} */

html {
    font-family: "EB Garamond", serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60vw;
}

#navbar {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 1rem auto;
    gap: 1.5rem;
    flex-wrap: wrap;
}

header {
    text-align: center;
}

#logo {
    text-decoration: none;
}

main {
    flex: 1;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 1000px) {
    body {
        width: 95vw;
    }
}

#homepage-header {
    display: none;
}

h1 {
    font-size: 4rem;    
}

h1,
h2,
h3 {
    font-family: "Cormorant SC";
    font-weight: 500;
}

h2,
h3,
h4 {
    color: #333;
}

.smallcaps {
    font-variant: small-caps;
    letter-spacing: 0.1rem;
}

.article-description {
    text-align: center;
}

/* LINKS */

#navbar a {
    font-family: "Cormorant SC";
}

main a,
#navbar a {
    color: #333;
    text-decoration-thickness: 0.07rem;
    text-underline-offset: 0.15rem;
}

main a:visited,
main a:focus,
main a:hover,
#navbar a:focus,
#navbar a:hover {
    color: #666;
    border-color: #666;
}

/* FOOTER */

footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #333;
}